[Unit]
Description=Modify Hyprland configuration file based power-state.

[Service]
ExecStart= # Absolute path to power-state.sh script
Type=exec
Restart=no

[Install]
WantedBy=default.target
